body
{
    background-color: blanchedalmond;

}

h2
{
    color: aqua;
}

h1.firstCSSclass
{
    color: hotpink;
    font-family: "Arial Black";

}

p.pClass
{
    color: red;
    font-family: monospace;

}