#frame
{
    width: 960px; /* ширина */
    background-color: #282d38; /* цвет фона */
    margin: auto; /* выравнивание по центру */
    display: table; /* Отображение в форме таблицы */
    height: 100%;
}
#header
{
    width: 500px;
    height: 5px; /* высота */
    background-color: #ffea96;
    margin: auto;
    margin-top: 10px; /* отступ от верхней границы */
    padding: 20px; /* внутренний отступ */
    text-align: center; /* Выравнивание текста по центру */
}
#footer
{
    width: 940px;
    height: 10px; /* высота */
    background-color: #2f6dcb;
    margin: auto;
    margin-top: 10px; /* отступ от верхней границы */
    padding: 20px; /* внутренний отступ */
    text-align: center; /* Выравнивание текста по центру */
    display: table-footer-group; /* Представление как футера (подвала)*/
}
#content
{
    height: 600px; /* высота */
    width: 720px; /* ширина */
    margin: 10px;
    background-color: #71cdcd; /*цвет фона */
    float: left; /* выравнивание блока (слева) */
}
#sidebar
{
    background-color: #d77d5c;
    width: 200px;
    height: 500px;
    margin: 10px; /* выравнивание текста (центр) */
    float: right; /* выравнивание блока (справа) */
}